body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica", "Arial", sans-serif;
  background-color: #f2f2f7;
  color: #000;
  margin: 0;
  padding: 0;
}
.app-container {
  width: 376px;
  height: 666px;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.content {
  flex: 1;
}
.content-container {
  flex: 1;
  overflow-y: scroll;
  padding: 20px;
  height: 480px;
}
